{% react getInitialState %}
return { elapsed: '0 seconds' };
{% endreact %}

{% react componentDidMount %}
this.timer = setInterval(this.tick, 500);
{% endreact %}

{% react componentWillUnmount %}
clearInterval(this.timer);
{% endreact %}

{% react tick %}
var timeElapsed = new Date() - this.props.start,
    time,
    postFix;

switch(true) {
    case timeElapsed < 60 * 1000:
        time = Math.round(timeElapsed / 1000);
        postFix = 'second' + (time === 1 ? '' : 's');
        break;
    case timeElapsed < 60 * 60 * 1000:
        time = (timeElapsed / 60 * 1000).toFixed(2);
        postFix = 'minute' + (time === '1.00' ? '' : 's');
        break;
    default:
        time = (timeElapsed / 60 * 60 * 1000).toFixed(3);
        postFix = 'hour' + (time === '1.000' ? '' : 's');
        break;
}

this.setState({elapsed: time + ' ' + postFix});
{% endreact %}

{% react render %}
return (
    <p>This component started <b>{this.state.elapsed}</b> ago.</p>
);
{% endreact %}