{% react getInitialState %}
var email = 'x@y.z';

return {text: email, reverse: this.reverseText(email)};
{% endreact %}

{% react reverseText(input) %}
var output = "",
    i = input.length;

while (i--) {
    output += input[i];
}

return output;
{% endreact %}

{% react handleChange(e) %}
this.setState({text: e.target.value, reverse: this.reverseText(e.target.value)});
{% endreact %}

{% react render %}
return (
    <div>
        <p>Reverse some text: {this.state.reverse}</p>
        <input type="text" value={this.state.text} onChange={this.handleChange} />
    </div>
);
{% endreact %}