{% react getInitialState %}
    return { elapsed: 0 };
{% endreact %}

{% react componentDidMount %}
    this.timer = setInterval(this.tick, 50);
{% endreact %}

{% react componentWillUnmount %}
    clearInterval(this.timer);
{% endreact %}

{% react tick %}
    this.setState({elapsed: new Date() - this.props.start});
{% endreact %}

{% react render %}
var elapsed = Math.round(this.state.elapsed / 100);

var seconds = (elapsed / 10).toFixed(1);    

return (
    <p>This component started <b>{seconds} seconds</b> ago.</p>
);
{% endreact %}