<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Component</title>
</head>

<body>
    <script src="http://fb.me/react-0.11.2.js"></script>

    {% reactuse './components/todoapp.html' as TodoApp %}
    
    {% react render %}
        <TodoApp />
    {% endreact %}

    <p><small>-- Taken from <a href="http://facebook.github.io/react">http://facebook.github.io/react</a></small></p>
</body>

</html>
