@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}

.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1 {
    font-size: 55px
}

.marketing {
    margin: 40px 0;
}