{% extends 'layout.html' %}

{% reactadd 'components/timer.html' as Timer %}
{% reactadd 'components/input.html' as ReverseInput %}

{% block reactBody %}
var now = Date.now();

return (
<div className="container">
    <div className="header">
        <h3 className="text-muted">react-swig</h3>
    </div>
    <div className="jumbotron">
        <h1>React + Swig = Awesome</h1>
        <p className="lead">
            Write JSX directly in swig files and have the render on the server and then seamlessly have the client pick up on all interation.
        </p>
    </div>
    <div className="row marketing">
        <div className="col-lg-6">
            <h4>Timer example</h4>
            <Timer start={now} />
        </div>
        <div className="col-lg-6">
            <h4>Input example</h4>
            <ReverseInput />
        </div>
    </div>
</div>
);
{% endblock %}